<div class="message-form" >
  <form>
    <div class="textarea-wrapper">
      <div class="textarea-main-views">
        <div class="textarea-data" contenteditable ng-model="ctrl.message" enter-key-press="ctrl.createMessage()" />
        <div class="textarea-attachments">
          <div ng-repeat="attach in ctrl.loadedAttaches">
            <attaches attach="attach"></attaches>
          </div>
        </div>
      </div>
      <div class="textarea-actions">
        <a ngf-select="ctrl.upload($files)" ngf-max-size="10MB" multiple>
          <img src="/images/upload.png" height="32" width="32" />
        </a>
      </div>

    </div>
    <!-- <div ng-class="{'image-placeholder': !ctrl.message.file.hasOwnProperty('url')}" ngf-drop="upload($file)">
        <img ng-src="{{ ctrl.file.file.url }}" height="200" width="200" ng-if="ctrl.message.file.hasOwnProperty('url')"/>
        <p class="image-name">{{user.image.file.url.split('/').last}}</p>
    </div> -->

    <div class="error" ng-if="ctrl.errors">
      <p ng-repeat="error in ctrl.errors">
        {{error.text.first}}
      </p>
    </div>
  </form>
</div>
