<div class="dialogs-list block">
  <div class="search-chat-form">
    <i ng-if="ctrl.createChat === false">search</i>
    <input ng-if="ctrl.createChat === false" type="text" placeholder="Search.." class="dialog-search-field"
    ng-change="ctrl.searchDialog()" ng-model="ctrl.searchField"/>
    <button ng-click="ctrl.renderCreateChatView()" class="toggleDialogForm">+</button>
  </div>
  <dialog-form ng-if="ctrl.createChat === true"></dialog-form>
  <div ng-if="ctrl.createChat === false" class="chat-dialog" ng-class="{selected: ctrl.chatSelected.id === cht.id}"
  ng-repeat="cht in ctrl.chats" ng-click="ctrl.selectChat(cht)">
    <div class="chat-image">
      <img ng-src={{::cht.getImageURL()}} height="60" width="60"  />
    </div>
    <div class="chat-info">
      <div class="chat-last-update">
        <span>{{::cht.humanizedUpdatedAt()}}</span>
      </div>
      <div class="chat-title">{{::cht.getName()}}</div>
      <div class="chat-last-message" ng-bind-html="::cht.lastMessageText() | linky:'_blank'"></div>
    </div>
    <div class="chat-actions">
      <a ng-click="ctrl.destroy(cht, $index)">X</a>
    </div>
  </div>
</div>
