.chatroom {
  display: flex;
  margin: 15px 0;
  width: 100%;

  .dialog-list-wrapper {
    border-right: 2px solid #c8c8c8;
  }

  .messages-list-wrapper {
  }

  .dialogs-list {
    height: 100%;
    overflow: hidden;

    &:hover {
      overflow-y: scroll;
    }

    .chat-dialog {
      display: flex;
      flex-direction: row;
      width: 100%;

      .chat-image {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        cursor: pointer;
        background-color: #b5cbd6;
      }

      .chat-info{
        flex-direction: column;

        .chat-last-update {
          display: flex;
          justify-content: flex-end;
          font-size: 10px;
        }

        .chat-last-message {
          word-break: break-all;
          font-size: 12px;
        }
      }
    }
  }

  .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}
