.course-form {
  width: 100%;

  .fields {
    display: flex;
    flex-direction: column;

    .ta-text.ta-editor {
      height: 100px;

      div[contenteditable='true'] {
        height: 100%;
      }
    }

    .form-field {
      margin-top: 10px;
    }
  }
}

.courses {
  width: 100%;
}

.course-edit {
  background-image: url("../images/edit.svg");
}

.course-delete {
  background-image: url("../images/eraser.svg");
}

.course-page {
  display: flex;
  flex-direction: column;

  .course-homework-item {
    display: flex;
    flex-direction: row;

    .date {
      margin-right: 20px;
    }
  }
}
