.course-form {
  width: 100%;

  .course-base-info-template {
    width: 100%;
  }

  .base-form-info {
    display: flex;
    flex-direction: row;

    .base-form-fields {
      display: flex;
      flex-direction: column;
      width: 100%;

      form-field {
        margin-bottom: 10px;

        textarea {
          resize: none;
        }
      }

      .base-field {
        width: 10em;
      }
    }
  }

  .time-picker {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .fields {
    display: flex;
    flex-direction: column;

    .form-field.datepicker {
      display: flex;
      flex-direction: column;

      label {
        text-align: center;
      }
    }

    .ta-text.ta-editor {
      height: 100px;

      div[contenteditable='true'] {
        height: 100%;
      }
    }

    .form-field {
      margin-top: 10px;
    }
  }
}

.form-field {
  display: flex;
  flex-direction: row;
}

.courses {
  width: 100%;
}

.course-edit {
  background-image: url("../images/edit.svg");
}

.course-delete {
  background-image: url("../images/eraser.svg");
}

.course-page {
  display: flex;
  flex-direction: column;
  min-width: 50em;

  .course-base-info {
    margin-top: 20px;

    .course-main {
      display: flex;
      flex-direction: row;

      .course-title-info {
        width: 100%;

        .main-course-field {
          margin-bottom: 10px;
        }
      }
    }
  }

  .course-students-info {
    .course-students-list {
      display: flex;
      flex-direction: row;
    }
  }

  .course-homework-item {
    display: flex;
    flex-direction: row;

    .date {
      margin-right: 20px;
    }
  }

  .course-title-info {
    display: flex;
    flex-direction: row;
  }

  .course-title-info {

    .info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }

  .lessons {
    .list {
      .lesson-item {
        display: flex;
        flex-direction: row;

        .info {
          margin-left: 10px;
          display: flex;
          flex-direction: row;

          .text-info {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
          }
        }

        .lesson-number {
          border: 3px solid #c8c8c8;
          border-radius: 1em;
          font-size: 35px;
          width: 2em;
          text-align: center;
          margin: 0;
          padding-top: 7px;
        }
      }
    }
  }
}
