.course-form {
  width: 100%;

  .course-base-info-template {
    width: 100%;
  }

  .base-form-info {
    display: flex;
    flex-direction: row;

    .base-form-fields {
      display: flex;
      flex-direction: column;
      width: 100%;

      form-field {
        margin-bottom: 10px;

        textarea {
          resize: none;
        }
      }

      .base-field {
        width: 10em;
      }
    }
  }

  .fields {
    display: flex;
    flex-direction: column;

    .ta-text.ta-editor {
      height: 100px;

      div[contenteditable='true'] {
        height: 100%;
      }
    }

    .form-field {
      margin-top: 10px;
    }
  }
}

.form-field {
  display: flex;
  flex-direction: row;
}

.courses {
  width: 100%;
}

.course-edit {
  background-image: url("../images/edit.svg");
}

.course-delete {
  background-image: url("../images/eraser.svg");
}

.course-page {
  display: flex;
  flex-direction: column;

  .course-homework-item {
    display: flex;
    flex-direction: row;

    .date {
      margin-right: 20px;
    }
  }

  .course-title-info {
    display: flex;
    flex-direction: row;
  }

  .course-title-info {

    .info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }
}
