.dialog-list-wrapper {
  -webkit-display: flex;  
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  margin-top: 10px;
  justify-content: top;

  .dialogs-list {
    .chat-dialog {
      padding: 10px;

      .chat-info {
        padding: 10px;
      }
    }
  }
}
