.dialog-list-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 20em;
  max-width: 20em;

  .dialogs-list {
    height: 100%;
    flex: 1;

    .dialog-form {
      form {
        margin-top: 30px;
      }
      .new-dialog-users {

        .dialog-persons-field,
        .dialog-message-field {
          border-bottom: 1px solid #c0c0c0;

          &[contenteditable=true]:empty:before {
            content: attr(placeholder);
            color: #c0c0c0;
            display: block; /* For Firefox */
          }
        }

        .search-field {
          display: flex;
        }
      }
      .users-list {
        .user-dialog-item {
          &:hover {
            background-color: #c8c8c8;
            cursor: pointer;
          }
        }
      }
    }

    .dialog-search-field {
      border: none;
    }

    .toggleDialogForm {
      float: right;
    }

    .chat-dialog {
      padding: 10px;

      &.notified {
          background-color: red;
      }

      &.selected {
        background-color: #7293b6;
        color: white;

        a {
          color: white;
        }
      }

      .chat-info {
        padding: 10px;
      }
    }
  }
}
