.dialog-list-wrapper {
  -webkit-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: top;
  min-width: 20em;

  .dialogs-list {
    .chat-dialog {
      padding: 10px;

      .chat-info {
        padding: 10px;
      }
    }
  }
}
