.homework-form {
  padding: 30px;

  trix-editor {
    background-color: white;
  }

  .actions {
    margin-top: 10px;
  }
}

.homework-item {
  display: flex;
  flex-direction: row;
}

.homework-page {
  .homework-block {
    margin-top: 10px;
  }
}
