.messages-list-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1 100%;

  .messages-actions-form {
    border-bottom: 1px solid #c0c0c0;
    display: flex;
    padding: 10px;
  }

  .messages-list-data {
    display: flex;
    flex-direction: column;
  }

  .message-form {
    padding: 20px;
    bottom: 10px;
    border-top: 1px solid #c0c0c0;

    input[type='submit'] {
      margin-top: 10px;
    }

    .textarea-wrapper {
      background-color: #fff;
      display: flex;
      flex-direction: row;
      .textarea-main-views{
        width: 100%;
        min-height: 60px;

        .textarea-data {
          min-height: 40px;
          width: 100%;

          border-bottom: 1px solid #c0c0c0;

          &[contenteditable=true]:empty:before {
            content: attr(placeholder);
            color: #c0c0c0;
            display: block; /* For Firefox */
          }

          &:focus {
            outline: none;
          }
        }

        .textarea-attachments {
          padding: 10px;

          .attach-item {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .messages-list {
    flex-direction: column;
    height: 58vh;
    overflow: hidden;
    flex-grow: 1;

    &:hover {
      overflow-y: auto;
    }

    .message-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      &.current_user {
      }

      .message-body {
        font-size: 15px;
        vertical-align: center;
        max-width: 30em;
        word-break: break-word;

        .message-text {

        }

        .message-attachments {
          display: flex;
          flex-direction: row;

          .attach-item {
          }
        }
      }

      .message-created-at {
        flex: 1;
        flex-direction: row-reverse;
        display: flex;
        font-style: italic;
      }
    }
  }
}
