.messages-list-wrapper{
  display: flex;
  flex-direction: column;

  .messages-list-data {
    display: flex;
    flex-direction: column;
  }

  .message-form {
    padding: 20px;
    background-color: #a4bdc4;
    bottom: 10px;

    input[type='submit'] {
      margin-top: 10px;
    }

    .textarea-wrapper {
      background-color: #fff;
      display: flex;
      flex-direction: row;
      .textarea-main-views{
        width: 100%;
        min-height: 100px;

        .textarea-data {
          min-height: 70px;
          width: 100%;

          &:focus {
            outline: none;
          }
        }

        .textarea-attachments {
          padding: 10px;

          .attach-item {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .messages-list {
    display: flex;
    flex-direction: column;
    height: 58vh;
    overflow: hidden;
    flex-grow: 1;

    &:hover {
      overflow: auto;
    }

    .message-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      &.current_user {
      }

      .message-body {
        font-size: 15px;
        vertical-align: center;

        .message-text {

        }

        .message-attachments {
          display: flex;
          flex-direction: row;

          .attach-item {
          }
        }
      }

      .message-created-at {
        flex: 1;
        flex-direction: row-reverse;
        display: flex;
        font-style: italic;
      }
    }
  }
}
