.notification-bar {
  position:absolute;
  top:2em;
  right:2em;
  width:12em;

  .notification-message {
      min-height: 1.5em;
      margin-top:3px;
      opacity:0;
      width:100%;
      text-align:center;
      background-color:cornflowerblue;
      color:white;
      border: solid 1px transparent;
      -webkit-transition:opacity 1s ease-in-out;
      -moz-transition:opacity 1s ease-in-out;
      -o-transition:opacity 1s ease-in-out;
      transition:opacity 1s ease-in-out;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      -o-border-radius:5px;
      border-radius:5px;
      padding:3px;
  }
  .notification-message.show { opacity:1; }
  .notification-message.red { background-color:red; }
  .notification-message > a {float:right; color:white;}
  .notification-message > div { font-size:smaller; }
  .notification-message:hover { border: solid 1px white; }

}

.modal-header.error{
  background-color: #c9302c;
  border-color: #ac2925;
  color: white;
}

.modal-header.message{
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
}
