.image-placeholder{
  border: 3px dashed black;
  height: 200px;
  width: 200px;
}
.user-form-actions{
  margin-top: 10px;
  margin-bottom:40px;
}
.panel-heading{
  a{
    color: white;
  }
}
.user-page{
  .panel-heading.user-name > h3{
    display: inline;
  }
}
.search-form{
  margin-bottom: 20px;
}