md-card-avatar {
  height: 128px;
  width: 128px;
  margin-right: 20px;
}

.user-status {
  margin-top: 6px;
  margin-left: 20px;
  img {
    width: 24px;
    height:24px
  }
}

.search-form > md-input-container {
  width: 100%;
}
