.image-placeholder{
  border: 3px dashed black;
  height: 200px;
  width: 200px;
}
.user-form-actions{
  margin-top: 10px;
  margin-bottom:40px;
}
.panel-heading{
  a{
    color: white;
  }
}
.user-page{
  .panel-heading.user-name > h3{
    display: inline;
  }
}
.search-form{
  margin-bottom: 20px;
}
/*User Form*/
.user-form{
  .image-block{
    .image-name{
      word-wrap: break-word;
    }
    .user-form-image-spinner{
      display: inline-block;
      position: relative;
      margin-left: 30px;
      margin-bottom: 4px;
    }
    .load-images{
      display: inline;
    }
  }
}

.users-page {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

.user-page {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}
