<div class="courses">
<h2>{{ 'course.index_title' | translate }}</h2>
<a class="btn btn-info" ng-if="!ctrl.emptyInfo" ui-sref="new_course">{{ 'course.new' | translate }}</a>
<div class="list">
  <list func="loadMore" ctrl="ctrl">
    <div ng-repeat="course in ctrl.courses" class="course-item panel panel-primary">
        <div class="panel-heading">
            <span><a ui-sref="course({id: course.slug || course.id})" >{{ course.title }}</a></span>
            <i ng-if="!course.active">Finished</i>
            <span class="pull-right">{{course.created_at }}</span>
            <div class="head-acitons" ng-if="!ctrl.emptyInfo && ctrl.currentUser.canEdit(course)">
              <span><a ui-sref="edit_course({id: course.id})" class="icon inline small resized comment-edit pointer"></a></span>
              <span><a class="icon inline small resized comment-remove pointer" ng-click="ctrl.destroy(course)"></a></span>
            </div>
        </div>
        <div class="panel-body">
          <img ng-src={{course.avatarURL()}} height="75" width="75" />
          {{course.short_description}}
        </div>
    </div>
  </list>
  <h3 ng-if="ctrl.courses.length < 1">{{ 'course.empty' | translate }}</h3>
</div>
</div>
