<div class="course-form">
  <h2>{{ 'course.form_title' | translate }}</h2>
  <form ng-submit="ctrl.makeRequest()" name="ctrl.courseForm" class="form-horizontal">
    <fieldset>
        <div class="row">
            <div class="col-sm-12 fields">
               <form-field title="'course.title'" form="ctrl.courseForm" field="'title'">
                 <input type="text" class="form-control" ng-model="ctrl.course.title" required>
               </form-field>
               <form-field title="false" form="ctrl.courseForm" field="'description'">
                 <trix-editor angular-trix ng-model="courseDesc" trix-change="ctrl.changedValue(e, editor)" trix-initialize="ctrl.trixInitialize(e, editor)"></trix-editor>
               </form-field>
               <form-field title="'course.slug'" form="ctrl.courseForm" field="'slug'">
                 <input type="text" class="form-control" ng-model="ctrl.course.slug" required>
               </form-field>
                <div class="lessons-list">
                  <div ng-class="{ 'field-error': ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons_length }"
                       ng-if="ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons_length">
                    {{ctrl.courseForm.$errors.lessons_length}}
                  </div>
                  <div class="form-actions">
                    <a class="btn btn-default fa fa-plus"
                       ng-click="ctrl.addLesson()">{{ 'course.form.add_lesson' | translate }}</a>
                  </div>
                  <div class="lesson-item" ng-repeat="lesson in lessons">
                    <div class="form-field">
                      <label class="col-sm-1">{{ 'course.title' | translate }}</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="lesson.title">
                        <div ng-if="ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons[$index].title" class="error">
                            <p ng-repeat="error in ctrl.courseForm.$errors.lessons[$index].title">
                              {{error}}
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="form-field">
                      <label class="col-sm-1">{{ 'course.slug' | translate }}</label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="lesson.slug">
                        <div ng-if="ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons[$index].slug" class="error">
                            <p ng-repeat="error in ctrl.courseForm.$errors.lessons[$index].slug">
                              {{error}}
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="form-field">
                      <label class="col-sm-1">{{ 'course.description' | translate }}</label>
                      <div class="col-md-6">
                        <textarea class="form-control" ng-model="lesson.description"></textarea>
                        <div ng-if="ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons[$index].description" class="error">
                            <p ng-repeat="error in ctrl.courseForm.$errors.lessons[$index].description">
                                {{error}}
                            </p>
                        </div>
                      </div>
                    </div>
                    <a class="btn btn-warning fa fa-minus" ng-click="ctrl.removeLesson($index)"></a>
                  </div>
                </div>
                <div class="form-actions form-field">
                    <input type="submit" class="btn btn-success" value="{{ 'course.save' | translate }}" >
                    <a ui-sref="courses" class="btn btn-default">{{ 'course.cancel' | translate }}</a>
                </div>
            </div>

        </div>
    </fieldset>
  </form>
</div>
