<div class="course-page">
  <div class="back-actions">
    <a class="btn btn-default glyphicon glyphicon-arrow-left"
       ui-sref="courses">{{ 'common.back' | translate }}</a>
  </div>
  <div class="course-base-info">
    <div class="course-main">
      <div class="course-image card">
        <img ng-src="{{ctrl.course.avatarURL()}}" height="200" width="200" />
      </div>
      <div class="course-title-info card">
        <div class="info">
          <h3 class="main-course-field">{{ctrl.course.title}}</h3>
          <div class="author main-course-field">
            <a ui-sref="user({id: ctrl.course.author.id})">
              <img ng-src="{{ctrl.course.author.avatarURL()}}" class="img-circle" height="30" width="30" />
              <span class="author-name">{{ctrl.course.author.correctNaming()}}</span>
            </a>
          </div>
          <div class="difficult main-course-field">
            <label>{{'course.difficult' | translate}}</label>
            <div class="difficult-value">
              <span uib-rating ng-model="ctrl.course.difficult" max="ctrl.rateMax" readonly="isReadOnly"
                 titles="['Easy','Medium','Hard']" aria-labelledby="default-rating"></span>
              <label class="difficult-name">{{ctrl.course.getDifficultName() | translate}}</label>
            </dvi>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="course-detail-info card">
    <h4>{{'course.description' | translate}}</h4>
    <div class="course=description" ng-bind-html="ctrl.course.description"></div>
  </div>
  <div class="lessons">
    <div class="list card">
      <h4>{{'course.lessons' | translate}}</h4>
      <div class="lesson-item" ng-repeat="lesson in ctrl.course.lessons">
        <p class="lesson-number">{{$index + 1}}</p>
        <div class="info">
          <img ng-src="{{lesson.avatarURL()}}" height="75" width="75" class="img-circle" />
          <div class="text-info">
            <a ui-sref="lesson({course_id: ctrl.course.slug || ctrl.course.id, id: lesson.slug || lesson.id})">
              {{lesson.title}}
            </a>
            <p>{{lesson.description}}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="comments-list">
    <comments-list > </comments-list>
    <comments-form id="commentForm"/>
  </div>
</div>
