<div class="time-picker">
  <div class="form-field">
    <label class="col-sm-2 control-label">{{'course.begin_date' | translate}}</label>
    <p class="col-md-6 input-group">
      <input type="text" uib-datepicker-popup is-open="ctrl.beginDatePopupOpened"
             class="form-control"
             ng-model="ctrl.course.begin_date" required
             datepicker-options="ctrl.dateOptions"
             close-text="Close" disabled>
       <span class="input-group-btn">
         <button type="button" class="btn btn-default" ng-click="ctrl.openDatepicker('begin')">
           <i class="glyphicon glyphicon-calendar"></i>
         </button>
       </span>
     </p>
  </div>
  <div class="form-field">
    <label class="col-sm-2 control-label">{{'course.end_date' | translate}}</label>
    <p class="col-md-6 input-group">
      <input type="text" uib-datepicker-popup is-open="ctrl.endDatePopupOpened"
             class="form-control"
             ng-model="ctrl.course.end_date" required
             close-text="Close" disabled>
       <span class="input-group-btn">
         <button type="button" class="btn btn-default" ng-click="ctrl.openDatepicker('end')">
           <i class="glyphicon glyphicon-calendar"></i>
         </button>
       </span>
     </p>
  </div>
</div>
