<div class="lessons-list">
  <div ng-class="{ 'field-error': ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons_length }"
       ng-if="ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons_length">
    {{ctrl.courseForm.$errors.lessons_length}}
  </div>
  <div class="form-actions">
    <a class="btn btn-default fa fa-plus"
       ng-click="ctrl.addLesson()">{{ 'course.form.add_lesson' | translate }}</a>
  </div>
  <div class="lesson-item" ng-repeat="lesson in lessons">
    <div class="image-field">
      <div class="col-md-3 image-block">
          <div ng-class="{'image-placeholder': !lesson.image.hasOwnProperty('url')}" ngf-drop="ctrl.uploadImageForLesson($file, lesson)">
              <img ng-src="{{ lesson.avatarURL() }}" height="200" width="200" ng-if="lesson.image.hasOwnProperty('url')"/>
          </div>
          <button class="btn btn-info load-image" ngf-select="ctrl.uploadImageForLesson($file, lesson)" ng-model="lesson.files" name="image"
                  accept="image/*" ngf-max-size="10MB" value="{{lesson.image }}">Upload</button>
          <span us-spinner spinner-key="course-form-image" class="user-form-image-spinner"></span>
      </div>
    </div>
    <div class="base-fields">
      <div class="form-field">
        <label class="col-sm-2">{{ 'course.lesson.teacher' | translate }}</label>
        <div class="col-md-6">
          <div ng-if="lesson.teacher !== undefined">
              <img ng-src="{{lesson.teacher.avatarURL()}}" width="30" height="30">
              <span ng-bind-html="lesson.teacher_name"></span>
              <a class="delete-teacher-link" ng-click="ctrl.removeTeacher(lesson)">
                {{'course.lesson.delete' | translate}}
              </a>
              <div class="checked-for-all-lessons">
                <input type="checkbox" ng-model="lesson.selectedForAll" ng-click="ctrl.selectTeacherForAllLessons(lesson)" />
                <span>{{'course.lesson.teacher_for_every_lesson' | translate}}</span>
              </div>
          </div>
          <input type="text" uib-typeahead="user for users in ctrl.getUsers($viewValue)"
          typeahead-template-url="teacherTemplate.html"
          typeahead-on-select="ctrl.selectTeacher($item, lesson)"
          class="form-control" ng-model="lesson.teacher_name">

          <div ng-if="ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons[$index].teacher_id" class="error">
              <p ng-repeat="error in ctrl.courseForm.$errors.lessons[$index].teacher_id">
                {{error}}
              </p>
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="col-sm-2">{{ 'course.title' | translate }}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="lesson.title">
          <div ng-if="ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons[$index].title" class="error">
              <p ng-repeat="error in ctrl.courseForm.$errors.lessons[$index].title">
                {{error}}
              </p>
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="col-sm-2">{{ 'course.slug' | translate }}</label>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="lesson.slug">
          <div ng-if="ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons[$index].slug" class="error">
              <p ng-repeat="error in ctrl.courseForm.$errors.lessons[$index].slug">
                {{error}}
              </p>
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="col-sm-2">{{ 'course.description' | translate }}</label>
        <div class="col-md-6">
          <textarea class="form-control" ng-model="lesson.description"></textarea>
          <div ng-if="ctrl.courseForm.$submitted && ctrl.courseForm.$errors.lessons[$index].description" class="error">
              <p ng-repeat="error in ctrl.courseForm.$errors.lessons[$index].description">
                  {{error}}
              </p>
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="col-sm-2">{{ 'course.lesson.repeated' | translate }}</label>
        <div class="col-md-2">
          <input type="checkbox" ng-model="lesson.repeated" />
        </div>
      </div>

      <div class="form-field" ng-if="lesson.repeated">
        <label class="col-sm-2">{{ 'course.lesson.begin_date' | translate }}</label>
        <div class="col-md-6">
          <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
              <div class="input-group"><input type="text" class="form-control" ng-model="lesson.begin_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="lesson.begin_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-field" ng-if="lesson.repeated">
        <label class="col-sm-2">{{ 'course.lesson.period' | translate }}</label>
        <div class="col-md-6">
          <select ng-model="lesson.period" ng-options="value for value in ctrl.availableRange" class="form-control">
            </option>
          </select>
        </div>
      </div>
      <div class="lesson-actions">
        <a class="btn btn-danger fa fa-minus" ng-click="ctrl.removeLesson($index)"></a>
      </div>
    </div>
  </div>
</div>

<div ng-include="'/course/form/_teacher_template.html'"  />
