<form ng-submit="profile.update()" name="userForm" class="form-horizontal user-form">
    <fieldset>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group" ng-class="{ 'has-error': userForm.$submitted && userForm.$errors.surname }">
                    <label class="control-label col-md-4">{{ 'users.surname' | translate }}</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control"  placeholder="Surname" ng-model="user.last_name" required>
                        <div ng-if="userForm.$submitted && userForm.$errors.surname" class="error">
                            <p ng-repeat="error in userForm.$errors.surname">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': userForm.$submitted && userForm.$errors.name }">
                    <label class="control-label col-md-4"> {{ 'users.name' | translate }} </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Name" ng-model="user.first_name" required>
                        <div ng-if="userForm.$submitted && userForm.$errors.name" class="error">
                            <p ng-repeat="error in userForm.$errors.name">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': userForm.$submitted && userForm.$errors.secondname }">
                    <label class="control-label col-md-4">{{ 'users.secondname' | translate }}</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Second name" ng-model="user.middle_name" required>
                        <div ng-if="userForm.$submitted && userForm.$errors.secondname" class="error">
                            <p ng-repeat="error in userForm.$errors.secondname">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': userForm.$submitted && userForm.$errors.email }">
                    <label class="control-label col-md-4">{{ 'users.email' | translate }}</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Email" ng-model="user.email" required>
                        <div ng-if="userForm.$submitted && userForm.$errors.email" class="error">
                            <p ng-repeat="error in userForm.$errors.email">
                                {{error}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="form-group" ng-class="{ 'has-error': userForm.$submitted && userForm.$errors.date_of_birth }">
                    <label class="control-label col-md-4">{{ 'users.date_of_birth' | translate }}</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" placeholder="Date of birth" ng-model="user.date_of_birth" required>
                        <div ng-if="userForm.$submitted && userForm.$errors.date_of_birth" class="error">
                            <p ng-repeat="error in userForm.$errors.date_of_birth">
                                {{error}}
                            </p>
                        </div>
                    </div>
                </div>
                <div text-angular ng-model="user.description" class="col-md-offset-4"
                     ta-text-editor-class="form-control wysiwyg-editor"
                     ta-html-editor-class="form-control wysiwyg-editor"></div>
                <div class="form-actions user-form-actions pull-right col-md-8">
                    <input type="submit" class="btn btn-success" value="{{ 'users.save' | translate }}" >
                    <a ui-sref="profile" class="btn btn-default">{{ 'users.cancel' | translate }}</a>
                </div>
            </div>
            <div class="col-md-3 image-block">
                <div ng-class="{'image-placeholder': !user.image.file.hasOwnProperty('url')}" ngf-drop="upload($file)">
                    <img ng-src="{{ user.avatarURL() }}" height="200" width="200" ng-if="user.image.file.hasOwnProperty('url')"/>
                    <p class="image-name">{{user.image.file.url.split('/').last}}</p>
                </div>
                <button class="btn btn-info load-image" ngf-select="profile.upload($file)" ng-model="user.files" name="image"
                        accept="image/*" ngf-max-size="10MB" value="{{user.image }}">Upoad</button>
                <span us-spinner spinner-key="user-form-image" class="user-form-image-spinner"></span>
                <div class="load-images">
                    <img ng-src="/images/successLoad.png" height="32" width="32" ng-if="profile.loadedSuccessfully"/>
                    <img ng-src="/images/failureLoad.png" height="32" width="32" ng-if="profile.loadedFailure"/>
                </div>
            </div>
        </div>
    </fieldset>
</form>