<h1>Users list</h1>
<div class="search-form">
    <form class="form" ng-submit="usr.search()">
        <div class="form-group">
            <div class="col-md-10">
                <input type="search" class="form-control" ng-change="usr.dynamicSearch()" ng-model="searchField"/>
            </div>
        </div>
        <input type="submit" value="{{ 'users.search_button' | translate }}" class="btn btn-info"/>
    </form>
</div>
<div flex-xs layout="column"  class="users-list panel panel-primary">
  <md-card ng-repeat="user in users">
    <md-card-title>
      <md-card-avatar>
        <img ng-src="{{user.avatarURL()}}" height="60" width="60" class="md-user-avatar">
      </md-card-avatar>
      <md-card-title-text>
        <div layout="row">
          <span class="md-headline">{{user.correctNaming()}}</span>
          <user-status user="user" />
        </div>
        <span class="md-subhead">{{user.humanizedDate(user.created_at) }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
    </md-card-content>
  </md-card>
    <!-- <div class="panel-heading">
        <span><a ui-sref="user({id: user.id})" >{{ user.correctNaming() }}</a></span>
        <span class="pull-right">{{user.humanizedDate(user.created_at) }}</span>
    </div>
    <div class="panel-body">
        <div class="avatar">
            <img ng-src="{{user.avatarURL()}}" height="128" width="128" class="img-circle"/>
        </div>
        <user-status user="user" />
        <message-popover user="user" />
    </div> -->
</div>
