<h1>Users list</h1>
<div class="search-form" layout-gt-sm="row">

  <md-input-container>
    <label>{{'users.search_label' | translate}}</label>
    <input type="search" ng-model="searchField" ng-change="usr.dynamicSearch()">
  </md-input-container>
</div>
<div flex-xs layout="column"  class="users-list panel panel-primary">
  <md-card ng-repeat="user in users">
    <md-card-title>
      <md-card-avatar>
        <img ng-src="{{user.avatarURL()}}" height="60" width="60" class="md-user-avatar">
      </md-card-avatar>
      <md-card-title-text>
        <div layout="row">
          <span class="md-headline">{{user.correctNaming()}}</span>
          <user-status user="user" />
        </div>
        <span class="md-subhead">{{user.humanizedDate(user.created_at) }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
    </md-card-content>
  </md-card>
</div>
