<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as head">
    <div class="container-fluid">
        <div class="navbar-header"></div>
        <div class="navbar-collapse collapse btn-actions pull-right">
            <div class="current-locale">
                <a data-remote="true" ng-click="head.changeLocale()" class="btn btn-primary">{{ head.locale }}</a>
            </div>
            <div class="current-user-info" ng-show="signedIn()">

            </div>
            <a data-remote="true" class="btn btn-primary" ng-click="head.signIn()">{{'auth.sign_in' | translate}}</a>
            <a data-remote="true" class="btn btn-info" ng-click="head.signUp()">{{'auth.sign_up' | translate}}</a>
            <a data-remote="true" class="btn btn-danger" ui-sref="sign_in" ng-click="head.logout()">{{'auth.sign_out' | translate}}</a>
        </div>
    </div>
</div>