<div ng-controller="HeaderController as head" layout="row" layout-align="end center">
  <div class="unathorized-header" ng-show="!head.authPresent">
    <md-button class="md-fab md-mini md-primary" ng-click="head.showAuthDialog($event)">
        <md-icon md-font-icon="fa fa-sign-in" class="fa"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini md-primary" ng-click="head.showRegDialog($event)">
      <md-icon md-font-icon="fa fa-user-plus" class="fa"></md-icon>
    </md-button>
  </div>
  <div class="authorized-header" ng-show="head.authPresent" layout="row">
    <div class="user-info">
      <img height="45" width="45" ng-src="{{head.user.avatarURL()}}" class="md-avatar" />
    </div>
    <md-button class="md-fab md-mini md-warn" ng-click="head.signOut($event)">
      <md-icon md-font-icon="fa fa-sign-out" class="fa"></md-icon>
    </md-button>
  </div>
</div>
