<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as head">
    <div class="container-fluid">
        <div class="navbar-header"></div>
        <div class="navbar-collapse info-list collapse btn-actions pull-right">
            <div class="current-user-info" ng-show="head.signedIn()">
                <img ng-src="{{head.user.avatarURL()}}" height="50" width="50" class="img-circle"/>
                {{head.user.email}}
            </div>
            <div class="current-locale">
                <a data-remote="true" ng-click="head.changeLocale()" class="btn btn-primary">{{ head.locale }}</a>
            </div>
            <a data-remote="true" ng-show="!head.signedIn()" class="btn btn-primary" ng-click="head.signIn()">{{'auth.sign_in' | translate}}</a>
            <a data-remote="true" ng-show="!head.signedIn()" class="btn btn-info" ng-click="head.signUp()"> {{'auth.sign_up' | translate}}</a>
            <a data-remote="true" ng-show="head.signedIn()" class="btn btn-danger" ng-click="head.logout()">{{'auth.sign_out' | translate}}</a>
        </div>
    </div>
</div>