<div class="dialogs-list"
ng-controller="ChatListController as dialog" ng-init="dialog.setChatList(chat)">
  <div class="chat-dialog" ng-repeat="cht in dialog.chats" ng-click="dialog.selectChat(cht)">
    <div class="chat-image">
      <img ng-src={{cht.getImageURL()}} height="60" width="60"  />
    </div>
    <div class="chat-info">
      <div class="chat-title">{{cht.getName()}}</div>
      <div class="chat-last-update">{{cht.updatedAt}}</div>
    </div>
  </div>
  <div class="chat-form" >
    <h3 ng-show="{{dialog.chats.length < 1}}">У вас нет ни одного чата</h3>
    <div class="new-chat-users">
      <div class="new-chat-member" ng-repeat="user in dialog.chatUsers">
        <p>{{user.correctNaming()}}</p>
        <a ng-click="dialog.removeNewMember($index)">Remove</a>
      </div>
    </div>
    <script type="text/ng-template" id="customTemplate.html">
      <a>
          <img ng-src="{{match.model.avatarURL()}}" height="50" width="50" class="img-circle" >
          <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
      </a>
    </script>
    <form ng-submit="dialog.createChat()">
      <input type="text" ng-model="dialog.selectedUser"
      placeholder="Choose users"
      uib-typeahead="user as user.fullName for user in dialog.users | filter:{fullName:$viewValue}"
      typeahead-template-url="customTemplate.html" class="form-control"
      typeahead-on-select= "chat.selectUser($item, $model, $label)"
      ng-change="dialog.changeInputValue()">
      <input type="submit" class="btn btn-success" value="Create" />
    </form>
  </div>
</div>
