<div class="messages-list"
ng-controller="DialogController as dialog"
ng-init="dialog.setDataFromParentController(chat)">
  <div class="messages-list" ng-if="dialog.currentDialog">
    <div ng-if="dialog.currentDialog.messages.length < 1">
      В данном диалоге еще нет сообщений
    </div>
    <div class="message-item"
     ng-repeat"message in dialog.currentDialog.messages">

    </div>
  </div>
  <div class="message-form">
    <form ng-submit="dialog.createMessage()">
      <textarea ng-model="dialog.message"></textarea>
      <input type="submit" class="btn btn-info" value="Send" />
    </form>
  </div>
</div>
