<div class="messages-list" >
  <div class="message-item" ng-repeat="msg in messages">
    <div class="message-image">
      <img ng-src="{{::msg.messageImage()}}" class="img-circle" height="45" width="45" />
    </div>
    <div class="message-body">
      <div class="message-text" ng-bind-html="::msg.text | linky:'_blank'"></div>
      <div class="message-attachments">
        <div ng-repeat="attach in msg.attaches" class="attach-item">
          <attaches attach="attach"></attaches>
        </div>
      </div>
    </div>
    <div class="message-created-at">{{::msg.createdAt}}</div>
  </div>
  <div ng-if="typing !== null">
    {{typing}}
  </div>
  <div ng-if="messages.length < 1">
    В данном диалоге еще нет сообщений
  </div>
</div>
