<div class="lesson-page">
  <div class="back-actions">
    <a class="btn btn-default glyphicon glyphicon-arrow-left"
       ui-sref="course({id: courseId})">{{ 'common.back' | translate }}</a>
  </div>

  <div class="main-information">
    <!-- <h3>Lesson page</h3> -->
    <div class="base-information">
      <div class="image-field card">
        <img ng-src="{{lesson.avatarURL()}}" height="200" width="200"/>
      </div>
      <div class="text-info card">
        <h3>{{lesson.title}}</h3>
        <div class="lesson-author">
          <img ng-src="{{lesson.user.avatarURL()}}" class="img-circle" height="30" width="30" />
          <span class="author-name">{{lesson.user.correctNaming()}}</span>
        </div>
      </div>
    </div>

    <div class="lesson-description card">
      <div ng-bind-html="lesson.description"></div>
    </div>

    <div class="homeworks-info card">
      <div class="homeworks-list" ng-if="currentUser !== null">
        <h3>{{'course.homeworks' | translate}}</h3>
        <a class="btn btn-primary" ui-sref="new_homework({course_id: lesson.course.slug || lesson.course.id, lesson_id: lesson.slug || lesson.id})">
          {{ 'course.homework.add' | translate }}
        </a>
        <div class="homework-item" ng-repeat="homework in lesson.homeworks" ng-if="currentUser.canEdit(homework)">
          <a ui-sref="homework({
            course_id: lesson.course.slug || lesson.course.id,
            lesson_id: lesson.slug || lesson.id,
            id: homework.id
          })">
          <img ng-src="{{homework.user.avatarURL()}}" class="img-circle" width="50" height="50" />
          <span class="user-name">{{homework.user.correctNaming()}}</span>
          <span class="creation-date">{{homework.created_at}}</span>
        </a>
          <a ui-sref="edit_homework({course_id: lesson.course.slug || lesson.course.id,
                                    lesson_id: lesson.slug || lesson.id,
                                    id: homework.id
                                   })"
             class="icon inline small resized comment-edit pointer"></a>
          <a ng-click="ctrl.deleteHomework(homework)"
             class="icon inline small resized comment-remove pointer"></a>
        </div>
      </div>
    </div>

    <div class="comments-list">
      <comments-form id="commentForm"/>
      <comments-list > </comments-list>
    </div>
  </div>
</div>
