<md-dialog ng-controller="AuthorizationController as auth">
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Authorization</h2>
        <span flex>
          <md-progress-circular md-mode="indeterminate"
          class="md-accent" ng-show="auth.isLoading">
        </md-progress-circular>
        </span>
        <md-button class="md-icon-button" ng-click="auth.close()">
          <md-icon md-font-icon="fa fa-times" class="fa" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <md-dialog-content>
    <md-tabs md-center-tabs="true" md-stretch-tabs="never" md-dynamic-height md-border-bottom md-selected="tab">
        <md-tab label="{{'auth.sign_in' | translate}}">
          <div ng-include="'authorization/sign_in_view.html'"></div>
        </md-tab>
        <md-tab label="{{'auth.sign_up' | translate}}">
          <div ng-include="'authorization/sign_up_view.html'"></div>
        </md-tab>
    </md-tabs>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-raised md-primary">{{'auth.send' | translate}}</md-button>
    <md-button class="md-raised"  ng-click="auth.close()">{{'auth.cancel' | translate}}</md-button>
  </md-dialog-actions>
</md-dialog>
