<form name="auth.phoneCodeForm">
  <div>
    <md-autocomplete
      md-selected-item="auth.selectedCountry"
      md-search-text-change="auth.searchTextChange(ctrl.searchText)"
      md-search-text="auth.searchText"
      md-selected-item-change="auth.selectedItemChange(item)"
      md-items="item in auth.querySearch(auth.searchText)"
      md-item-text="item.name"
      md-min-length="1"
      md-floating-label="Country"
      md-menu-class="autocomplete-custom-template">
      <md-item-template>
        <span class="item-title">
          <span> {{item.name}} </span>
        </span>
        <span class="item-metadata">
          <span class="item-metastat">
            <strong>+{{item.phone_code}}</strong>
          </span>
        </span>
      </md-item-template>
  </md-autocomplete>
  </div>
  <div layout="row" flex>
      <md-autocomplete
        md-selected-item="auth.selectedPhone"
        md-search-text-change="auth.searchTextChange(ctrl.searchText)"
        md-search-text="auth.phoneCode"
        md-selected-item-change="auth.selectedItemChange(item)"
        md-items="item in auth.searchByPhone(auth.phoneCode)"
        md-item-text="item.phone_code"
        md-min-length="1"
        md-floating-label="Code"
        md-menu-class="autocomplete-custom-template">
        <md-item-template>
          <span class="item-title">
            <span> +{{item.phone_code}} </span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              <strong>{{item.name}}</strong>
            </span>
          </span>
        </md-item-template>
    </md-autocomplete>
  <div>
    <md-input-container>
      <label>Phone number</label>
      <input ng-model="auth.phoneNumber" type="tel">
      <div ng-messages="auth.phoneCodeForm.$error" multiple md-auto-hide="false">
        <div ng-message="phone">
          <div ng-repeat="item in auth.phoneCodeForm.$error.phone">{{item}}</div>
        </div>
      </div>
    </md-input-container>
  </div>
</div>
<div layout="row" layout-align="end center">
  <md-button class="md-raised md-primary" ng-click="auth.nextStep()">Next</md-button>
</div>
</form>
