<div class="modal-header">
    <h3>{{'auth.change_password' | translate}}</h3>
</div>
<div class="modal-body">
    <form class="form form-horizontal recovery-form" ng-submit="changePassword()" name="modalView.RecoverForm">
        <fieldset>
            <div class="form-group" ng-class="{ 'has-error': modalView.RecoverForm.$submitted && modalView.RecoverForm.$errors.password}">
                <label class="control-label col-md-4">{{'auth.password' | translate }}</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" ng-model="modalView.RecoverForm.password" required/>
                    <div ng-if="modalView.RecoverForm.$submitted && modalView.RecoverForm.$errors.password" class="error">
                    <span ng-repeat="error in modalView.RecoverForm.$errors.password">
                        {{error}}
                    </span>

                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': modalView.RecoverForm.$submitted && modalView.RecoverForm.$errors.password_confirmation}">
                <label class="control-label col-md-4">
                    {{'auth.password_confirmation' | translate}}
                </label>
                <div class="col-md-6">
                    <input type="password" class="form-control" ng-model="modalView.RecoverForm.password_confirmation"/>
                    <div ng-if="modalView.RecoverForm.$submitted && modalView.RecoverForm.$errors.password_confirmation" class="error">
                        <span ng-repeat="error in modalView.RecoverForm.$errors.password_confirmation">
                            {{error}}
                        </span>
                    </div>
                </div>
            </div>
            <div ng-if="modalView.RecoverForm.$submitted && modalView.RecoverForm.$errors.reset_password_token" class="error">
                <span ng-repeat="error in modalView.RecoverForm.$errors.reset_password_token">
                            {{"Password token " +error}}
                        </span>
            </div>
            <div class="form-actions pull-right">
                <input type="button" class="close-dialog btn btn-default"  value="{{'auth.cancel' | translate}}"/>
                <input type="submit" class="recover-password btn btn-success" value="{{'auth.send' | translate}}" />
            </div>
        </fieldset>
    </form>
</div>