<div class="modal-header">
    <h3 class="modal-title">{{modalView.modalTitle | translate}}</h3>
</div>
<div class="modal-body">
    <uib-tabset>
        <uib-tab active="modalView.activeTabAuth"
            select="modalView.setCurrentViewDetails('auth.sign_in', modalView.authForm)" heading="{{'auth.sign_in' | translate}}">
            <div ng-include="'/modal_windows/login.html'"></div>
        </uib-tab>
        <uib-tab active="modalView.activeTabReg"
            select="modalView.setCurrentViewDetails('auth.sign_up', modalView.regForm)" heading="{{'auth.sign_up' | translate}}">
            <div ng-include="'/modal_windows/registration.html'"></div>
        </uib-tab>
        <uib-tab select="modalView.setCurrentViewDetails('auth.password_recovery')" heading="{{'auth.password_recovery' | translate}}">
            <div ng-include="'/modal_windows/_restore_password.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <a href="/users/auth/facebook" data-remote="true" class="facebook oauth-link"><img src="/images/facebook24.png" height="30" width="30"/></a>
    <a href="/users/auth/vkontakte" data-remote="true" class="vkontakte oauth-link" ><img src="/images/b.png" height="30" width="30"/></a>
    <a href="/users/auth/twitter" data-remote="true" class="twitter oauth-link"
       ng-click="$event.preventDefault();$event.stopPropagation(); modalView.requireEmail($event);">
        <img src="/images/twitter2.png" height="30" width="30"/></a>
    <a href="/users/auth/instagram" data-remote="true" class="instagram oauth-link"
       ng-click="$event.preventDefault();$event.stopPropagation(); modalView.requireEmail($event);">
        <img src="/images/instagram12.png" height="30" width="30"/>
    </a>
</div>

