<div class="modal-header">
    <h3 class="modal-title">{{'auth.sign_in' | translate}}</h3>
</div>
<div class="modal-body">
  <autocomplete on-chose="modalView.selectCountry" on-change-input="modalView.findCountry()" />
</div>
<div class="modal-footer">
    <a href="/users/auth/facebook" data-remote="true" class="facebook oauth-link"><img src="/images/facebook24.png" height="30" width="30"/></a>
    <a href="/users/auth/vkontakte" data-remote="true" class="vkontakte oauth-link" ><img src="/images/b.png" height="30" width="30"/></a>
    <a href="/users/auth/twitter" data-remote="true" class="twitter oauth-link"
       ng-click="$event.preventDefault();$event.stopPropagation(); modalView.requireEmail($event);">
        <img src="/images/twitter2.png" height="30" width="30"/></a>
    <a href="/users/auth/instagram" data-remote="true" class="instagram oauth-link"
       ng-click="$event.preventDefault();$event.stopPropagation(); modalView.requireEmail($event);">
        <img src="/images/instagram12.png" height="30" width="30"/>
    </a>
</div>
