<form class="form-horizontal auth-form" ng-submit="login()" name="modalView.authForm">
    <fieldset>
        <div class="form-group" ng-class="{ 'has-error':modalView.authForm.$submitted && modalView.authForm.$errors }">
            <label class="control-label col-md-4">{{'auth.email' | translate}}</label>
            <div class="col-md-6">
                <input type="email" class="form-control"  placeholder="Email" ng-model="modalView.authForm.email" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': modalView.authForm.$submitted && modalView.authForm.$errors}">
            <label class="control-label col-md-4">{{'auth.password' | translate}}</label>
            <div class="col-md-6">
                <input type="password" class="form-control" placeholder="Password" ng-model="modalView.authForm.password" required>
            </div>
        </div>
        <div class="form-actions pull-right col-md-5">
            <input type="submit" class="btn btn-primary" value="{{'auth.sign_in' | translate}}" ng-disabled="!modalView.authForm.$valid">
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{'auth.cancel' | translate}}</button>
        </div>

        <div ng-if="modalView.authForm.$submitted && modalView.authForm.$errors" class="pull-right error">
            {{modalView.authForm.$errors}}
        </div>
    </fieldset>
</form>