<form class="form-horizontal reg-form" ng-submit="register()" name="modalView.regForm">
    <fieldset>
        <div class="form-group"  ng-class="{ 'has-error': modalView.regForm.$submitted && modalView.regForm.$errors.email}">
            <label class="control-label col-md-4">{{'auth.email' | translate}}</label>
            <div class="col-md-6">
                <input type="email" class="form-control"  placeholder="Email" ng-model="modalView.regForm.email" required>
                <div ng-if="modalView.regForm.$submitted && modalView.regForm.$errors.email" class="error">
                    <span ng-repeat="error in modalView.regForm.$errors.email">
                        {{error}}
                    </span>

                </div>
            </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error': modalView.regForm.$submitted && modalView.regForm.$errors.password}">
            <label class="control-label col-md-4">{{'auth.password' | translate}}</label>
            <div class="col-md-6">
                <input type="password" class="form-control" placeholder="Password" ng-model="modalView.regForm.password" required>
                <div ng-if="modalView.regForm.$submitted && modalView.regForm.$errors.password" class="error">
                    <span ng-repeat="error in modalView.regForm.$errors.password">
                        {{error}}
                    </span>

                </div>
            </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error': modalView.regForm.$submitted && modalView.regForm.$errors.password_confirmation}">
            <label class="control-label col-md-4">{{'auth.password_confirmation' | translate}}</label>
            <div class="col-md-6">
                <input type="password" class="form-control" placeholder="Password" ng-model="modalView.regForm.password_confirmation" required>
                <div ng-if="modalView.regForm.$submitted && modalView.regForm.$errors.password_confirmation" class="error">
                    <span ng-repeat="error in modalView.regForm.$errors.password_confirmation">
                        {{error}}
                    </span>
                </div>
            </div>
        </div>
        <div class="form-actions pull-right col-md-5">
            <input type="submit" class="btn btn-primary" value="{{'auth.sign_up' | translate}}" ng-disabled="!modalView.regForm.$valid">
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{'auth.cancel' | translate}}</button>
        </div>
    </fieldset>
</form>