<div class="homework-form card">
  <h3>{{'course.homework.form_title' | translate}}</h3>
  <form name="homeworkForm" ng-submit="ctrl.makeRequest()">
    <trix-editor angular-trix ng-model="homeworkText" trix-initialize="ctrl.trixInitialize(e, editor)"></trix-editor>
    <div ng-if="ctrl.homeworkForm.$submitted && ctrl.homeworkForm.$errors.text" class="error">
        <p ng-repeat="error in ctrl.homeworkForm.$errors.text">
            {{error}}
        </p>
    </div>
    <div class="actions">
      <input type="submit" class="btn btn-success" value="{{ 'course.save' | translate }}" >
      <a ui-sref="lesson({course_id: ctrl.courseId, id: ctrl.lessonId})" class="btn btn-default">{{ 'course.cancel' | translate }}</a>
    </div>
  </form>
</div>
